
/* ==== Content / Publications ==== */

/*
#content > .container > #content-right > .publications-dashboard-1 {
	width: 220px;
	margin-left: 300px;
	margin-top: 20px;
}

#content > .container > #content-right > .publications-dashboard-2 {
	width: 220px;
	margin-left: 540px;
	position: absolute;
	top: 345px;
}

#content > .container > #content-right > .publications-dashboard-3 {
	width: 220px;
	margin-left: 780px;
	position: absolute;
	top: 207px;
}

#content > .container > #content-right > .publications-dashboard-4 {
	width: 460px;
	margin-left: 300px;
}

#content > .container > #content-right > .publications-dashboard-5 {
	width: 220px;
	margin-left: 780px;
	position: absolute;
	top: 69px;
	z-index: 1;
}
 */

/* ==== Content / Publications / Box ==== */
/*

#content > .container >#content-right > .publications-dashboard-1 > .box > .box-content {
	padding: 16px 10px;
	line-height: 17px;
	text-align: justify;
	width: 220px;
}

#content > .container > #content-right > .publications-dashboard-2 > .box > .box-content {
	padding: 16px 10px;
	line-height: 17px;
	text-align: justify;
	width: 220px;
}


#content > .container > #content-right > .publications-dashboard-3 > .box > .box-content {
	padding: 16px 10px;
	line-height: 17px;
	text-align: justify;
	width: 220px;
}

#content > .container > #content-right > .publications-dashboard-4 > .box > .box-content {
	padding: 19.6px 10px;
	line-height: 18px;
	text-align: justify;
	width: 460px;
}

#content > .container > #content-right > .publications-dashboard-5 > .box > .box-content {
	padding: 16px 10px;
	line-height: 17px;
	text-align: justify;
	width: 220px;
}
 */

/* ==== Child / Publication / Box ==== */

/*
#content > .container > #content-right > .publications-dashboard-1 > .box > .box-content .box-content-child {
	padding: 16px 10px;
	line-height: 17px;
	text-align: center;
	width: 220px;
	background-image: url('../img/contract11.svg');
	font-weight: bold;
 	font-size: 28px;
	background-repeat: no-repeat;
	background-position: 12px 0px;
}

#content > .container > #content-right > .publications-dashboard-2 > .box > .box-content .box-content-child {
	padding: 16px 10px;
	line-height: 17px;
	text-align: center;
	width: 220px;
	background-image: url('../img/contacts1.svg');
	font-weight: bold;
 	font-size: 28px;
	background-repeat: no-repeat;
	background-position: 12px 0px;
}

#content > .container > #content-right > .publications-dashboard-3 > .box > .box-content .box-content-child {
	padding: 16px 10px;
	line-height: 17px;
	text-align: center;
	width: 220px;
	background-image: url('../img/load.svg');
	font-weight: bold;
 	font-size: 28px;
	background-repeat: no-repeat;
	background-position: 12px 0px;
}

#content > .container > #content-right > .publications-dashboard-5 > .box > .box-content > .box-content-child {
	padding: 16px 10px;
	line-height: 17px;
	text-align: center;
	width: 220px;
	background-image: url('../img/list40.svg');
	font-weight: bold;
 	font-size: 28px;
	background-repeat: no-repeat;
	background-position: 12px 0px;
}
 */

#content > .container > #content-right > .box  {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 158.0156173px;

}

/* +===== */

#content > .container > #content-right > .box:nth-child(2) > .box-content > .box-content-child {
	background-image: url('../img/contract11.svg');
	font-weight: bold;
 	font-size: 28px;
	background-repeat: no-repeat;
	background-position: 12px 8px;
	padding: 16px 10px;
}

#content > .container > #content-right > .box:nth-child(3) > .box-content > .box-content-child {
	background-image: url('../img/load.svg');
	font-weight: bold;
 	font-size: 28px;
	background-repeat: no-repeat;
	background-position: 12px 8px;
	background-size: 45px;
	padding: 16px 10px;
}

#content > .container > #content-right > .box:nth-child(4) > .box-content > .box-content-child {
	background-image: url('../img/list40.svg');
	font-weight: bold;
 	font-size: 28px;
	background-repeat: no-repeat;
	background-position: 12px 8px;
	padding: 16px 10px;
}

#content > .container > #content-right > .box:nth-child(5) > .box-content > .box-content-child {
	background-image: url('../img/contacts1.svg');
	font-weight: bold;
 	font-size: 28px;
	background-repeat: no-repeat;
	background-position: 12px 8px;
	background-size: 45px;
	padding: 16px 10px;
}


/* ==== */

#content > .container > #content-right > .box:nth-child(1) {
	width: 700px;
}

#content > .container > #content-right > .box:nth-child(1) > .box-content {
	padding: 16px 10px;
	line-height: 18px;
	text-align: justify;
	width: 700px;
}

#content > .container > #content-right > .box:nth-child(3), #content > .container > #content-right > .box:nth-child(4), #content > .container > #content-right > .box:nth-child(5) {
	margin-left: 20px;
}

.box-content > li.active
{
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
