<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>controllers.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Listing_author</servlet-name>
    <servlet-class>controllers.Listing_author</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listing_author</servlet-name>
    <url-pattern>/listing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Listing_team</servlet-name>
    <servlet-class>controllers.Listing_team</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listing_team</servlet-name>
    <url-pattern>/team</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Listing_type</servlet-name>
    <servlet-class>controllers.Listing_type</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listing_type</servlet-name>
    <url-pattern>/type</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>connexionLdap.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Advanced_research</servlet-name>
    <servlet-class>controllers.Advanced_research</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Advanced_research</servlet-name>
    <url-pattern>/research</url-pattern>
  </servlet-mapping>
</web-app>